body {

	background-color: #ef1039;
}

.background {
	position: absolute;
  width: 1000px;
  height: 600px;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -500px;
  background: #eaeabd;
  border: 2px solid #660c12;
  border-radius: 15px;
  z-index: 2;
  padding-left: 45px;
  padding-top: 16px;


}


h1 {

	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	color: white;
}

.start {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #ef1039;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  z-index: ;
}

.button {

	position: absolute;
	top: 80%;
	left: 42%;
	z-index: 2;

}

.start:hover {background-color: #891b1b}

.start:active {
  background-color: #ef1039;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.game {

	position: absolute;
    width: 1000px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -500px;
    background: blue;
    border: 2px solid #660c12;
    border-radius: 15px;
    z-index: 1;
    padding-left: 45px;
    padding-top: 16px;

}

.cards {
	float: left;
    margin-top: 13px;
    margin-left: -17px;
    margin-right: 28px;
    width: 120px;
    height: 197px;
    width: 131px;
    background: green;
    display: inline-block;
}


.title {
	z-index: 2;
	display: inline-block;
	margin-left: 70px;
	border-radius: 15px;




}


